.tvRow {
    margin-bottom: 30px;
}

.tvRow h2 {
    margin: 0px 0px 0px 30px;
}

.tvRow--listarea {
    overflow-x: hidden;
}

.tvRow--list{
    width: 99999999px;
}

.tvRow--item {
    display: inline-block;
}