.tvRow {
    margin-bottom: 30px;
}

.tvRow h2 {
    margin: 0px 0px 0px 30px;
}

.tvRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.tvRow--list{
    width: 99999999px;
}

.tvRow--item {
    display: inline-block;
    width: 150px;
}

.tvRow--item img {
    width: 100%;
    transform: scale(0.9);
}